development:
  adapter: postgresql
  encoding: unicode
  database: albums_development
  pool: 5
  username: albums
  password:
  min_messages: warning

test:
  adapter: postgresql
  encoding: unicode
  database: albums_test
  pool: 5
  username: albums
  password:
  min_messages: warning

production:
  adapter: postgresql
  encoding: unicode
  database: albums_production
  pool: 5
  username: albums
  password:
  min_messages: warning

cucumber:
  <<: *test
