development:
  adapter: postgresql
  encoding: unicode
  database: albums_development
  pool: 5
  username: albums
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: albums_test
  pool: 5
  username: albums
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: albums_production
  pool: 5
  username: albums
  password:

cucumber:
  <<: *test
